@import "../../css-config/mixins.scss";
.main-header {
  padding: 10px 0;
  z-index: 99;
  position: fixed;
  box-shadow: 0 0 10px #000;
  background-color: var(--background);
  height: 80px;
  top: 0;
  @include flex();
  width: 100%;
  &.sticky-header {
    transform: translateY(-80px);
    animation: stickyHeader 0.3s ease forwards;
  }
  .row {
    justify-content: space-between;
    @include xs {
      gap: 5px;
    }
    article {
      @include flex();
      justify-content: flex-start;
      @include xs {
        justify-content: center;
      }
      a {
        font-size: 18px;
        color: var(--text);
        @include xs {
          font-size: 14px;
        }
      }
    }
    .lightDark {
      @include flex();
      justify-content: flex-end;
      @include xs {
        justify-content: center;
      }
      button {
        background: transparent;
        font-size: 20px;
        border: 0;
        text-transform: capitalize;
        outline: 0;
        cursor: pointer;
        color: var(--text);
      }
    }
  }
}
@keyframes stickyHeader {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
