:root {
    --white: #fff;
    --darkmodeelements: hsl(209, 23%, 22%);
    --darkmodebackground: hsl(207, 26%, 17%);
    --lightmodetext: hsl(200, 15%, 8%);
    --lightmodeinput: hsl(0, 0%, 97%);
    --lightModeBtn: #dddddd91;
    --lightModespan: #666;
    --lightmodebackground: hsl(0, 0%, 98%);
    --darkmodetextlightmodeelements: hsl(0, 0%, 100%);
  }
  
  .row{
    flex-basis: 100%;
    row-gap: 20px;
  }
